
  .drop-down-list-wrapper{
    background-color: hsla(225, 14%, 28%, 1);
    display: flex;
    flex-direction: column;  
  
    .drop-down-list-line{
        color: hsla(225, 14%, 100%, 0.7);
        &:hover{
          background-color: hsla(210, 100%, 33%, 0.5);
        }       
        &.disable{
          &:hover{
            background-color: hsla(225, 14%, 28%, 1);
            display: flex;;
          }  
         color: hsla(225, 14%, 100%, 0.3);     
        }
  
        padding: 4px;
     }
   }
